extends includes
block includes
    #wrapper
        include navbar
        block navbar
        if sidebar
            include left_sidebar
            block left_sidebar
        .main-content
            #draggable-region.container-fluid.col-lg-10.col-lg-offset-2
                h3.page-title Your Applications
                #items.row
                    .panel.col-md-3.no-padding.animated.flipInX.item
                        .panel-heading
                            h3.panel-title Some New Idea!                                                                                                                                                     
                            .right
                                i.lnr.lnr-menu.fa-2x.handle
                                button.btn-toggle-collapse(type='button')
                                    i.lnr.lnr-chevron-up.fa-2x
                        .panel-body.no-padding.text-center
                            .bg-primary.padding-top-30.padding-bottom-30
                                i.lnr.lnr-laptop-phone.fa-5x
                                h3 Create New App
                            div.padding-top-30.padding-bottom-30
                                // Button trigger modal
                                button.btn.btn-default(type='button', class="btn btn-lg wire-btn",data-toggle='modal', data-target='#newappmodal') Create app  
                                    i.lnr.lnr-plus-circle
                                
                                
                    .panel.col-md-3.no-padding.animated.flipInX.item
                        .panel-heading
                            h3.panel-title Library
                            .right
                                i.lnr.lnr-menu.fa-2x.handle
                                button.btn-toggle-collapse(type='button')
                                    i.lnr.lnr-chevron-up
                        .panel-body.no-padding.text-center
                            .bg-primary.padding-top-30.padding-bottom-30
                                i.lnr.lnr-book.fa-5x
                                h3 Simple Library                                
                            div.padding-top-30.padding-bottom-30
                                a(href="/appId" class="btn btn-lg wire-btn") Dashboard                                    
                                a(href="/appId" class="btn btn-lg wire-btn") Settings
                                a(href="/appId" class="btn btn-lg wire-btn") Logs
                    .panel.col-md-3.no-padding.animated.flipInX.item
                        .panel-heading
                            h3.panel-title Store
                            .right
                                i.lnr.lnr-menu.fa-2x.handle
                                button.btn-toggle-collapse(type='button')
                                    i.lnr.lnr-chevron-up                                
                        .panel-body.no-padding.text-center
                            .bg-primary.padding-top-30.padding-bottom-30
                                i.lnr.lnr-rocket.fa-5x
                                h3 Store
                            div.padding-top-30.padding-bottom-30
                                a(href="/appId" class="btn btn-lg wire-btn") Dashboard                                    
                                a(href="/appId" class="btn btn-lg wire-btn") Settings
                                a(href="/appId" class="btn btn-lg wire-btn") Logs  

        // Modal
        #newappmodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='newappmodalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#newappmodalLabel.modal-title Create new App
                    .modal-body
                        | Create new app
                    .modal-footer
                        button.btn.btn-success(type='button', onclick='', data-dismiss='modal') Create
                        button.btn.btn-danger(type='button', onclick='',data-dismiss='modal') Cancel

        