extends includes
block includes
    #wrapper
        include navbar
        block navbar
        if sidebar
            include left_sidebar
            block left_sidebar
        .main-content
            #draggable-region.container-fluid.col-lg-10.col-lg-offset-2
                h3.page-title Your Applications
                #items.row
                    .panel.col-md-3.no-padding.animated.flipInX.item(data-id="1")
                        .panel-heading
                            h3.panel-title Some New Idea!                                                                                                                                                     
                            .right
                                i.lnr.lnr-menu.fa-2x.handle
                                button.btn-toggle-collapse(type='button')
                                    i.lnr.lnr-chevron-up.fa-2x
                        .panel-body.no-padding.text-center
                            .bg-primary.padding-top-30.padding-bottom-30
                                i.lnr.lnr-laptop-phone.fa-5x
                                h3 Create New App
                            div.padding-top-30.padding-bottom-30
                                // Button trigger modal
                                button.btn.btn-default(type='button', class="btn btn-lg wire-btn",data-toggle='modal', data-target='#newappmodal') Create app  
                                    i.lnr.lnr-plus-circle
                                                                                   
                    // new thing
                    each app,i in appData
                        .panel.col-md-3.no-padding.animated.flipInX.item(data-id=i+3)
                            .panel-heading.app-active
                                .right
                                    i.lnr.lnr-menu.fa-2x.handle
                                    button.btn-toggle-collapse(type='button')
                                        i.lnr.lnr-chevron-up                                
                            .panel-body.no-padding.text-center
                                .bg-primary.padding-top-30.padding-bottom-30.app-active
                                    i.lnr.lnr-rocket.fa-5x                                    
                                    h3 #{app.name}
                                    h4 #{app.port}
                                div.padding-top-30.padding-bottom-30                                    
                                    a(href="http://localhost:"+app.port+"/" target="_" class="btn btn-lg wire-btn") Dashboard                                    
        .loader
            .load-bar
                    .bar
                    .bar
                    .bar                              
            .loading-bar.app-creation-loading.text-center
                h2 Creating your App!
                h3 This may take some time.Please wait ...
                i.fa.fa-cloud.fa-5x.animated.jello.infinite
        // Modal For App Creation - Using Ajax for it
        #newappmodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='newappmodalLabel', aria-hidden='true')
            .modal-dialog.app-create-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#newappmodalLabel.modal-title Create new App - Wizard
                    .modal-body                    
                        .form-group   
                            .input-group                     
                                span.input-group-addon
                                    i.fa.fa-cloud
                                input.form-control.input-lg( name="applicationName", placeholder="Application Name")
                            small.form-text.text-danger (Required)
                        .form-group               
                            .input-group                     
                                span.input-group-addon
                                    i.fa.fa-cogs         
                                input.form-control.input-lg( type="number", name="portNumber" placeholder="Port Number")
                            small.form-text.text-danger (Valid Range 3000-65000)
                        .form-group               
                            .input-group                     
                                span.input-group-addon
                                    i.fa.fa-key         
                                input.form-control.input-lg( type="text", name="secret" placeholder="App Secret String")
                            small.form-text.text-danger (Required)                                          
                        a.text-info(data-toggle='collapse', href='#newAppAdvanceOptions', aria-expanded='false', aria-controls='multiCollapseExample1') Advanced Options                             
                        #newAppAdvanceOptions.collapse.multi-collapse                        
                            hr                                                        
                            .form-group               
                                .input-group                     
                                    span.input-group-addon
                                        i.fa.fa-cogs         
                                    input.form-control.input-lg( type="text", name="mongoDbUrl" placeholder="Mongo Db Url")
                                small.form-text.text-danger
                    .modal-footer
                        button.btn.btn-success#create-app-submit(type='button', onclick='', data-dismiss='modal') Create
                        button.btn.btn-danger(type='button', onclick='',data-dismiss='modal') Cancel

        