block horizontal_navbar
// hORIZONTAL NAVBAR START 
#settings_navbar_wrapper.nav.navbar(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar_settings_menu')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-brand.settings_context
        i.fa.fa-puzzle-piece 
        |    Context
    // Collect the nav links, forms, and other content for toggling
    #navbar_settings_menu.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        //-
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-filter
              span  Filterdropdown
            ul.dropdown-menu
              li
                a(tabindex='-1', href='#') HTML
              li
                a(tabindex='-1', href='#') CSS
              li.dropdown-submenu
                a.test(tabindex='-1', href='#')
                  | New dropdown 
                  span.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='#') 2nd level dropdown
                  li
                    a(tabindex='-1', href='#') 2nd level dropdown
                  li.dropdown-submenu
                    a.test(href='#')
                      | Another dropdown 
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') 3rd level dropdown
                      li
                        a(href='#') 3rd level dropdown
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-filter
              span  Filter                  
            ul.dropdown-menu.filter
              li
                select#field_select.form-control
                  option elementId
                  option Field2
                  option Field3
                  option Field4

              li
                button#clear_all.btn.btn-default.clear(type='button') Clear All
                button#add_filter.btn.btn-default(type='button') Add Filter
                button#apply_filter.btn.btn-default(type='button') Apply
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-filter
            span  Filter                
          ul.dropdown-menu.filter
            li.now
              a.test(href='#')(style='display:inline-block;')
                i.fa.fa-plus-circle.fa-2x
              .select.field_s.test(style='display:inline-block;')
                select#slct(name='slct')
                  option createdAt
                  option downloadName
                  option objectId
                  option order
                  option title
                  option updatededAt
              .select.test(style='display:inline-block;')
                select#slct(name='slct')
                  option exists
                  option does not exists
                  option is before
                  option is after                 
              a.test(href='#')(style='display:inline-block;')
                i.fa.fa-minus-circle.fa-2x
            li.now
              a.test(href='#')(style='display:inline-block;')
                i.fa.fa-plus-circle.fa-2x
              .select.test(style='display:inline-block;')
                select#slct1(name='slct')
                  option createdAt
                  option downloadName
                  option objectId
                  option order
                  option title
                  option updatededAt
              .select.test(style='display:inline-block;')
                select#slct2(name='slct')
                  option exists
                  option does not exists
                  option is before
                  option is after 
              a.test(href='#')(style='display:inline-block;')
                i.fa.fa-minus-circle.fa-2x
            li.now
              a.test(href='#')(style='display:inline-block;')
                i.fa.fa-plus-circle.fa-2x
              .select.test(style='display:inline-block;')
                select#slct1(name='slct')
                  option createdAt
                  option downloadName
                  option objectId
                  option order
                  option title
                  option updatededAt
              .select.test(style='display:inline-block;')
                select#slct2(name='slct')
                  option exists
                  option does not exists
                  option is before
                  option is after 
              a.test(href='#')(style='display:inline-block;')
                i.fa.fa-minus-circle.fa-2x
            
            button#clear_all.btn.btn-default.clear(type='button') Clear All
            button#apply_filter.btn.btn-default(type='button') Apply
        
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-lock
            span  Security                  
          ul.dropdown-menu
            li
              a(href='#') xyz
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-pencil-square-o
            span  Edit
          ul.dropdown-menu.edit_dropdown
            li
              a(href='#') Add Row
            li
              a(href='#') Add Column
            li.disabled
              a(href='#') Delete Selected Row
            li
              a(href='#') Delete Column
            li
              a(href='#') Delete All Rows
            li
              a(href='#') Import Data
            li
              a(href='#') Export Data
    // /.navbar-collapse
  // /.container-fluid
// hORIZONTAL NAVBAR END
