doctype html
html(lang='en')
  head
    title #{title}
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    // VENDOR CSS
    link(rel='stylesheet', href='/assets/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/vendor/linearicons/style.css')
    link(rel='stylesheet', href='/assets/vendor/chartist/css/chartist-custom.css')    
    link(rel='stylesheet',  href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel="stylesheet" href="assets/vendor/toastr/toastr.min.css")
    // MAIN CSS
    link(rel='stylesheet', href='/assets/css/main.css')
    //Custom CSS
    link(rel='stylesheet',href='/css/style.css')
    // GOOGLE FONTS
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    // ICONS
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/img/apple-icon.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/assets/img/favicon.png')
  body
    block includes                  
    script(src='/assets/vendor/jquery/jquery.min.js')
    script(src='/assets/vendor/bootstrap/js/bootstrap.min.js')
    script(src='/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js')
    script(src='/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js')
    script(src='/assets/vendor/chartist/js/chartist.js')
    script(src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js")
    script(src="/assets/vendor/toastr/toastr.min.js")
    script(src='/assets/scripts/klorofil-common.js') 
    script(src='/js/temp-abhishek.js')   
    