extends navigation_main
block navigation
    .main
        // MAIN CONTENT
        .main-content
          h1.title Content of specific menu item will load here
        // END MAIN CONTENT
        // END MAIN    
