block sidebar
      //Left Side bar    
      #sidebar-nav.sidebar
        .sidebar-scroll
          nav
            ul.nav
              li#app-analytics
                a(href="#")
                    i.fa.fa-home
                    span APP              
              li#app-database
                a(href="#app-database")
                    i.fa.fa-database
                    span Database
              li#app-config
                a(href="#app-config")
                    i.fa.fa-cogs
                    span Config                                                                              
              li
                  a.collapsed(href='#app_settings', data-toggle='collapse')
                      i.fa.fa-wrench
                      span App Settings
                      i.icon-submenu.lnr.lnr-chevron-left
                  #app_settings.collapse
                      ul.nav
                          li
                              a.collapsed(href='#app_settings_general', data-toggle='collapse')
                                  i.fa.fa-cog
                                  span General
                                  i.icon-submenu.lnr.lnr-chevron-left
                              #app_settings_general.collapse
                                  ul.nav
                                      li
                                          a(href='#')
                                              i.fa.fa-stack-exchange
                                              span App Management
                                      li
                                          a(href='#')
                                              i.fa.fa-handshake-o
                                              span Collaborators
                          li
                              a(href='#')
                                  i.fa.fa-key
                                  span Seurity Keys
      // END LEFT SIDEBAR