extends includes 
block includes 
    // WRAPPER
    #wrapper
      .vertical-align-wrap
        .vertical-align-middle
          .auth-box
            .left
              .content
                != messages('message', locals)                        
                .header
                  .logo.text-center
                    img(src='/assets/img/logo-dark.png', alt='BAaS Logo')
                  p.lead Login to your account
                form.form-auth-small(action='/users/login' method='POST')
                  .form-group
                    label.control-label.sr-only(for='signin-email') Email
                    input#signin-email.form-control(type='text', name='username', placeholder='johnDoe')
                  .form-group
                    label.control-label.sr-only(for='signin-password') Password
                    input#signin-password.form-control(type='password', name='password', placeholder='abc123')
                  .form-group.clearfix
                    label.fancy-checkbox.element-left
                      input(type='checkbox')
                      span Remember me
                  button.btn.btn-primary.btn-lg.btn-block(type='submit') LOGIN
                  .bottom
                    span.helper-text
                      i.fa.fa-lock
                      a(href='#') Forgot password?
            .right
              .overlay
              .content.text
                h1.heading POSITIVITY IS THE 
                    span.fa.fa-key
                p by The Develovers
            .clearfix
    // END WRAPPER