.column
    each types in Object.keys(messages)        
        each message in messages[types]
            div(class="alert alert-dissmissible alert-"+types role='alert')
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') ×                
                |  #{message}
