extends includes 
block includes 
    // WRAPPER
    #wrapper
      include navbar
      block navbar
      include left_sidebar
      block sidebar
      // MAIN
      block navigation      
      .clearfix
      footer
        .container-fluid
          p.copyright
            | Copyright &copy 2017             
            | BAaS
    // END WRAPPER
    