extends includes 
block includes 
    // WRAPPER
    #wrapper
      // NAVBAR
      nav.navbar.navbar-default.navbar-fixed-top
        .brand
          a(href='/')
            img.img-responsive.logo(src='assets/img/logo-dark.png', alt='BAaS Logo')
        .container-fluid
          .navbar-btn
            button.btn-toggle-fullwidth(type='button')
              i.lnr.lnr-arrow-left-circle
          form.navbar-form.navbar-left
            .input-group
              input.form-control(type='text', value='', placeholder='Search dashboard...')
              span.input-group-btn
                button.btn.btn-primary(type='button') Go          
          #navbar-menu
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle.icon-menu(href='#', data-toggle='dropdown')
                  i.lnr.lnr-alarm
                  span.badge.bg-danger 5
                ul.dropdown-menu.notifications
                  li
                    a.notification-item(href='#')
                      span.dot.bg-warning
                      | System space is almost full
                  li
                    a.notification-item(href='#')
                      span.dot.bg-danger
                      | You have 9 unfinished tasks
                  li
                    a.notification-item(href='#')
                      span.dot.bg-success
                      | Monthly report is available
                  li
                    a.notification-item(href='#')
                      span.dot.bg-warning
                      | Weekly meeting in 1 hour
                  li
                    a.notification-item(href='#')
                      span.dot.bg-success
                      | Your request has been approved
                  li
                    a.more(href='#') See all notifications
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.lnr.lnr-question-circle
                  span Help
                  i.icon-submenu.lnr.lnr-chevron-down
                ul.dropdown-menu
                  li
                    a(href='#') Basic Use
                  li
                    a(href='#') Working With Data
                  li
                    a(href='#') Security
                  li
                    a(href='#') Troubleshooting
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  img.img-circle(src='assets/img/user.png', alt='Avatar')
                  span= user.name.split(' ')[0]+' '
                  i.icon-submenu.lnr.lnr-chevron-down
                ul.dropdown-menu
                  li
                    a(href='#')
                      i.lnr.lnr-user
                      span My Profile
                  li
                    a(href='#')
                      i.lnr.lnr-envelope
                      span Message
                  li
                    a(href='#')
                      i.lnr.lnr-cog
                      span Settings
                  li
                    a(href='/users/logout')
                      i.lnr.lnr-exit
                      span Logout              
      // END NAVBAR
      // LEFT SIDEBAR
      #sidebar-nav.sidebar
        .sidebar-scroll
          nav
            ul.nav
              li
                a(href="##")
                    i.lnr.lnr-home
                    span APP              
              li
                a.collapsed(href='#subCore', data-toggle='collapse')
                  i.fa.fa-cogs
                  span Core
                  i.icon-submenu.lnr.lnr-chevron-left
                #subCore
                  ul.nav
                    li
                      a(href='#')
                        i.fa.fa-user-o
                        span Users
                    li
                        a(href='#')
                            i.fa.fa-id-card
                            span Session
                    li
                        a.collapsed(href='#db_tables', data-toggle='collapse')
                            i.fa.fa-database
                            span Database
                            i.icon-submenu.lnr.lnr-chevron-left
                        #db_tables.collapse
                            ul.nav
                                li
                                    a(href='#')
                                        i.fa.fa-table
                                        span Table1
                                li
                                    a(href='#')
                                        i.fa.fa-table
                                        span Table2
                                li
                                    a(href='#')
                                        i.fa.fa-table
                                        span Table3
                    li
                        a.collapsed(href='#logs', data-toggle='collapse')
                            i.lnr.lnr-file-empty
                            span Logs
                            i.icon-submenu.lnr.lnr-chevron-left
                        #logs.collapse
                            ul.nav
                                li
                                    a(href='#')
                                        i.fa.fa-info-circle
                                        span Info
                                li
                                    a(href='#')
                                        i.fa.fa-exclamation-triangle
                                        span Error
                    li
                        a(href='#')
                            i.fa.fa-code
                            span API Console
              li
                  a.collapsed(href='#push_notif', data-toggle='collapse')
                      i.lnr.lnr-alarm
                      span Push Notifications
                      i.icon-submenu.lnr.lnr-chevron-left
                  #push_notif.collapse
                      ul.nav
                          li
                              a(href='#')
                                  i.fa.fa-exclamation
                                  span New Notification
                          li
                              a(href='#')
                                  i.fa.fa-history
                                  span View History
                          li
                              a.collapsed(href='#audience', data-toggle='collapse')
                                  i.fa.fa-users
                                  span Audience
                                  i.icon-submenu.lnr.lnr-chevron-left
                              #audience.collapse
                                  ul.nav
                                      li
                                          a(href='#')
                                              i.fa.fa-plus-circle
                                              span Add
                                      li
                                          a(href='#')
                                              i.fa.fa-pencil
                                              span Edit
                                      li
                                          a(href='#')
                                              i.fa.fa-trash-o
                                              span Delete
                  li
                      a.collapsed(href='#analytics', data-toggle='collapse')
                          i.fa.fa-line-chart
                          span Analytics
                          i.icon-submenu.lnr.lnr-chevron-left
                      #analytics.collapse
                          ul.nav
                              li
                                  a(href='#')
                                      i.fa.fa-search
                                      span Choose Algorithms
                              li
                                  a(href='#')
                                      i.fa.fa-bar-chart
                                      span View Graphs ?
                              li
                                  a(href='#')
                                      i.fa.fa-question-circle
                                      span ?
                              li
                                  a(href='#')
                                      i.fa.fa-question-circle
                                      span ?
              li
                  a.collapsed(href='#app_settings', data-toggle='collapse')
                      i.fa.fa-wrench
                      span App Settings
                      i.icon-submenu.lnr.lnr-chevron-left
                  #app_settings.collapse
                      ul.nav
                          li
                              a.collapsed(href='#app_settings_general', data-toggle='collapse')
                                  i.fa.fa-cog
                                  span General
                                  i.icon-submenu.lnr.lnr-chevron-left
                              #app_settings_general.collapse
                                  ul.nav
                                      li
                                          a(href='#')
                                              i.fa.fa-stack-exchange
                                              span App Management
                                      li
                                          a(href='#')
                                              i.fa.fa-handshake-o
                                              span Collaborators
                          li
                              a(href='#')
                                  i.fa.fa-key
                                  span Seurity Keys
      // END LEFT SIDEBAR
      // MAIN
      block navigation      
      .clearfix
      footer
        .container-fluid
          p.copyright
            | Copyright &copy 2017             
            | BAaS
    // END WRAPPER
    