#main_menu{
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.050);
}
.card-head-custom{
    background: #209cee;
    padding: 1em;    
    text-align: center;    
}
.has-bg-info{
    background: #209cee;
}
.has-bg-success{
    background: #23d160;
}
form > .field:not(:last-child) {
    margin-bottom: .005rem;
}
.notification.is-success,.notification.is-danger,.notification.is-info{
    opacity: 0.85;
}
.notification.is-error{
    background: #ffbc6b;
    color: white;    
}


/*******************************************************************************/
/*******************************************************************************/
/********************************** MAIN CSS ***********************************/
/*******************************************************************************/
/*******************************************************************************/

* {
    font-family: 'Raleway', sans-serif;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-weight: bold;
  }

.vertical-align-middle {    
    display:flex;
    justify-content:center;
    align-items:center;   
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    position:absolute;
  }

  #wrapper #sidebar-nav{        
    background: linear-gradient(#4a5d83, #4c3565);  
  }
  .auth-box .right .overlay {
    background: linear-gradient(rgba(74,93,131,0.82), rgba(106, 83, 131, 0.82));
  }

  .panel {
      margin:  0.5em;
  }
  .panel-body > .bg-primary {
      background: #4a5d83;;
      background: linear-gradient(#4a5d83, #4c3565);  
  }
  .wire-btn {
      border: 2px solid #4a5d83;
      border-radius: 1.25em;
      font-size: 1.2em;
      font-weight: bold;
      color: #4a5d83;
      width: 75%;
      margin: 0.5em;
  }

/* CUSTOM SNACKBAR FOR USAGE */
#snackbar {
    visibility: hidden;
    min-width: 250px; 
    max-width: 400px;
    margin-left: -125px; 
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed;
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
}
#snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;    
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}